body { margin: 0; }
canvas { width: 100vh; height: 100vh }

* {
  box-sizing: border-box;
}

#GAME{
  position: absolute;
  left: 20%;
  right: 20%;
  overflow: hidden;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
}
.column2 {
    float: left;
    width: 60%;
    padding: 0px;
    margin: 0px;
    height: 100vh; /* Should be removed. Only for demonstration */
}
.column3 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
}

/* #GAME{
    height: 100%;
    width: 100%;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.magic {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  height: 15px;
}
